{%extends 'index.html' %}
{%block title%}
Add Course
{%endblock%} 
{%block choise%}
Add Course
{%endblock%} 
{%block header%}
Add
{%endblock%} 
{%block content%}
<form action="/Course">
        <table style="width: 100%;" border="1">
            <tr>
                <td><input type="text" placeholder="Enter Course ID" style="width:100%;"></td>
                <td><input type="text" placeholder="Enter Course Name"  style="width:100%;"></td>
            </tr>
        </table>
        <input type="submit" name="addCourse" id="" value="Add">
</form>
{%endblock%} 