{%extends 'index.html' %}
{%block title%}
Add Trainee
{%endblock%} 
{%block choise%}
Add Trainee using (use form) 
{%endblock%} 
{%block header%}
Add
{%endblock%} 
{%block content%}
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <label for="courses">Courses</label>
    <select name="courses" id="">
        {%for course in courses%}
            <option value="{{course.id}}">{{course.courseName}}</option>
        {%endfor%}
    </select>
    <br>
        <!-- <table style="width: 100%;" border="1">
            {%csrf_token%}
            <tr>
                <td><input type="text" placeholder="Enter Train Name" style="width:100%;" name="trainee"></td>
            </tr>
            <tr>
                <td>
                    <select name="courses" id="">
                        {%for course in courses%}
                            <option value="{{course.id}}">{{course.courseName}}</option>
                        {%endfor%}
                    </select>
                </td>
            </tr>
        </table> -->
        <input type="submit" name="addTrainee" id="" value="Add">
</form>
{%endblock%} 